.cart-container {
  padding: 15px 20px;
  max-width: 800px;
  margin: auto;

}

.cart-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  font-style: bold;
}

.cart-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #242424;
  border-radius: 16px;
  padding: 15px;
  margin-bottom: 20px;
}

.cart-card img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

.cart-info h2 {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.price {
  font-size: 1.2rem;
  color: #ff7a00;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

.quantity-controls button {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 10px;
  background: #ff7a00;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.total-box {
  background: #121212;
  border-radius: 16px;
  padding: 15px;
}

.total-box h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

/* BUTTONS */
.checkout-btn,
.clear-cart-btn {
  width: fit-content;
  min-width: 220px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background: #ff7a00 !important;
  color: white !important;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin-top: 10px;
   transition: 0.5s;
  

 
}

/* CENTER BUTTONS */
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.remove-btn {
  margin-top: 12px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background: #3a0d0d;
  color: #ff4d4d;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cart-title {
    font-size: 2rem;
  }

  .cart-card {
    gap: 10px;
    padding: 12px;
  }

  .cart-card img {
    width: 90px;
    height: 90px;
  }

  .cart-info h2 {
    font-size: 1.2rem;
  }

  .checkout-btn,
  .clear-cart-btn {
    width: 100%;
  }
}
.cart-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cart-container {
  flex: 1;
}