.cart-container {
  padding: 20px;
}

.cart-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.cart-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #111;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
}

.cart-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.cart-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.5rem;
  color: #ff7a00;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.quantity-controls button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 12px;
  background: #ff7a00;
  color: white;
  font-size: 1.5rem;
}

.total-box {
  background: #111;
  border-radius: 20px;
  padding: 20px;
}

.checkout-btn {
  width: 50%;
  padding: 18px;
  border: none;
  border-radius: 15px;
  background: #ff7a00;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cart-card {
    flex-direction: row;
  }

  .cart-title {
    font-size: 2.5rem;
  }

  .cart-card img {
    width: 100px;
    height: 100px;
  }
}