/* PRODUCT CARD */

.product-card {
  background: #121212;
  border-radius: 28px;
  overflow: hidden;

  width: 320px;

  border: 1px solid rgba(255,255,255,0.06);

  box-shadow:
    0 0 30px rgba(255,106,0,0.12);

  transition: 0.8s ease;

  display: flex;
  flex-direction: column;
}

/* HOVER */

.product-card:hover {
  transform: translateY(-5px);
}

/* IMAGE */

.product-card img {
  width: 100%;
  height: 200px;

  object-fit: cover;

  display: block;
}

/* INFO */

.product-info {
  padding: 24px;
}

.product-info h3 {
  font-size: 1.5rem;

  font-weight: 400;

  line-height: 1.1;

  margin-bottom: 16px;

  color: white;
}

.product-info p {
  color: #ff6a00;

  font-size: 1.5rem;

  font-weight: bold;

  margin-bottom: 26px;
}

/* BUTTON */

.product-info button {
  width: 100%;

  padding: 18px;

  border: none;

  border-radius: 16px;

  background: #ff6a00;

  color: white;

  font-size: 1.3rem;

  font-weight: 400;

  cursor: pointer;

  transition: 0.8s ease;
}

.product-info button:hover {
  background: #ff7b1f;
}
.products-grid{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
}
/* MOBILE */

@media(max-width:768px){

  .product-card{
    width: 100%;
  }

  .product-card img{
    height: 260px;
  }

}